appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
autopep8==1.5.4
certifi==2020.6.20
colorama==0.4.3
coverage==5.3
distlib==0.3.1
Django==3.1
django-bootstrap-static==4.2.1
django-coverage-plugin==1.8.0
django-crispy-forms==1.9.2
django-nose==1.4.7
docutils==0.16
filelock==3.0.12
isort==5.5.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
nose==1.3.7
Pillow==7.2.0
pipenv==2020.8.13
psycopg2==2.8.6
pycodestyle==2.6.0
pylint==2.6.0
pylint-django==2.3.0
pylint-plugin-utils==0.6
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
virtualenv==20.0.31
virtualenv-clone==0.5.4
wrapt==1.12.1
