{% extends "user/base.html" %} {% block content %}
<div class="media">
    <div class="media-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-1">
                    <img class="rounded-circle mr-3 account-img" src="{{ object.author.profile.image.url }}" />
                </div>
                <div class="col-lg-10 ml-3">
                    <h1>{{ object.title }}</h1>
                    <p class="lead">
                        by
                        <a href="{% url 'blog:user-posts' post.author.username %}">{{ object.author }}</a>
                    </p>
                </div>
                <p class="small">Posted on {{ object.date_posted|date:"F d, Y. h:i A" }}</p>
            </div>
            {% if object.author == user %}
            <div>
                <a class="btn btn-outline-secondary btn-sm mt-1 mb-1"
                    href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>

        <hr />

        <p class="lead mt-0">{{ object.content }}</p>
        <hr />
    </div>
</div>
{% endblock %}